.parent{
    width: 1000px;
    height: 800px;
   
   margin: 100px ;
}
.box1{
    width: 260px;
    height: 300px;
    background-color: white;
    float: left;
    margin-bottom: 20px;
 
    margin-right: 20px;
    padding: 20px;
}
.box2{
    width: 260px;
    height: 300px;
    background-color: rgb(210, 237, 255);
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
}
.box3{
    width: 260px;
    height: 300px;
    background-color: lightgoldenrodyellow;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
}
.box4{
    width: 260px;
    height: 300px;
    background-color: rgb(250, 239, 240);
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
}
.mt{
    font-family: 'Luckiest Guy';
    font-size: 40px;
    width: 200px;
    
}
button{
    background-color: blueviolet;
    width: 120px;
    font-size: 15px;
    color: white;
    height: 40px;
    border: 0px;
}
img{
    width: 80px;
    height: 80px;
}
.h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
p{
    font-size: 15px;
}
i{
    color: blue;
    margin-right: 5px;
}